.navbar-brand{
    transition: .4s;
}
.navbar-brand:hover{
    opacity: .7;
}
.btn-cart{
    transition: .4s;
    position: relative;
}
.btn-cart:hover{
opacity: .7;
}
.btn-cart .badge{
    position: absolute;
    top:-1px;
    right:-1px;
}
.fa-trash-alt{
    transition: .4s;
}
.fa-trash-alt:hover{
    opacity: .7;
}
.banner-bg{
    background-image: url('https://static.daf-shoes.com/_Art/index/210317/210317_06.jpg');
    background-size: cover;
    min-height: 400px;
   background-position-x: center;
}
.bg-lighter{
    background-color: rgba(255, 255, 255, .35);
}
.btn-pink{
    color: rgb(248, 177, 189);
}
.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}
.box-shadow{
    transition: .3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
}
.box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .26);
}

/* @media (max-width: 768px) {
    .card-footer-2 {
      display: block;
    }
  } */




  /* 完整的屬性列表：pointer-events: auto | none | visiblePainted | visibleFill | visibleStroke | visible | painted | fill | stroke | all | inherit  可以用來點擊到被覆蓋的 div 下方的東西 */
.btn.disabled{
    pointer-events: none;
}
.fab{
    transition: .4s;
}
.fab:hover{
    opacity: .5;
}
.alert-rounded{
    border-radius: 50px;
}
.alert-sm{
    width: 95%;
}

